*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContent,
    .formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
}